*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Redefinição de 1rem. */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  background-image: url('./img/bg-img.jpg');
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}